:root {
    --base-color: #204041;
    --secondary-color: #E3E7E7;
}

a {
    color: inherit;
    text-decoration: none;
}

form {
    max-width: 60%;
}

body {
    background-color: var(--secondary-color);
}

footer {
    font-size: 0.7rem;
}

.main-color {
    background-color: var(--base-color);
}

@media screen and (min-width: 576) {
    form {
        max-width: fit-content;
    }
}